<!-- Header -->
<div class="fixed w-full bg-transparent z-30">
  <div class="max-w-screen-xl py-2 px-4 mx-auto md:px-6 lg:px-8">
    <div class="block md:hidden p-2 flex flex-row items-center justify-between">
      <a routerLink="" class="text-lg text-gray-900 uppercase focus:outline-none focus:shadow-outline">
        <img src="assets/images/logos/logo-white.png" alt="Vibe" class="h-8">
      </a>
      <button class="text-primary rounded-lg focus:outline-none focus:shadow-outline" (click)="toggleMenu()">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path *ngIf="!open" fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
          <path *ngIf="open" fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <div [ngClass]="{'block': open, 'hidden': !open}" class="md:block">
      <nav class="flex flex-col md:items-center md:justify-between md:flex-row py-2 gap-y-4">
        <a routerLink="" (click)="toggleMenu()"
           class="hidden md:block text-lg text-gray-900 focus:outline-none focus:shadow-outline">
          <img src="assets/images/logos/logo-white.png" alt="Vibe" class="h-12">
        </a>

        <div class="flex flex-col items-center md:justify-between md:flex-row text-white gap-x-8 gap-y-2">
          <a routerLink="" (click)="toggleMenu()"
             class="text-lg font-medium focus:outline-none focus:shadow-outline">
            Nosotros
          </a>
          <a routerLink="servicios" (click)="toggleMenu()"
             class="text-lg font-medium focus:outline-none focus:shadow-outline">
            Servicios
          </a>
          <a routerLink="discografia" (click)="toggleMenu()"
             class="text-lg font-medium focus:outline-none focus:shadow-outline">
            Discografía
          </a>
          <a routerLink="cotizar" (click)="toggleMenu()"
             class="text-lg font-medium focus:outline-none focus:shadow-outline">
            Cotizar
          </a>
        </div>

        <div class="flex justify-center md:justify-between items-center gap-x-5">
          <a href="#" target="_blank" class="text-white">
            <i class="fa-brands fa-facebook text-3xl"></i>
          </a>

          <a href="#" target="_blank" class="text-white">
            <i class="fa-brands fa-instagram text-4xl"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- End: Header -->
