<!-- Header -->
<div id="navbar_container" class="fixed w-full bg-transparent z-30">
  <div class="max-w-screen-xl py-2 px-4 mx-auto md:px-6 lg:px-8">
    <div class="block md:hidden p-2 flex flex-row items-center justify-between">
      <a routerLink="" class="text-lg text-gray-900 uppercase focus:outline-none focus:shadow-outline">
        <img src="assets/images/logos/logo-white.png" alt="Vibe" class="h-6">
      </a>
      <button class="text-white rounded-lg focus:outline-none focus:shadow-outline" (click)="toggleMenu()">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path *ngIf="!open" fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
          <path *ngIf="open" fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <div [ngClass]="{'block': open, 'hidden': !open}" class="relative md:block">
      <nav class="flex flex-col md:items-center md:justify-between md:flex-row py-2 gap-y-4">
        <a routerLink="" (click)="toggleMenu()" [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="border-b-2 z-40 border-b-primary opacity-100" #homeLink="routerLinkActive"
           [ngClass]="{'opacity-50': !homeLink.isActive}"
           class="hidden md:block text-lg text-gray-900 focus:outline-none focus:shadow-outline pb-3">
          <img src="assets/images/logos/logo-white.png" alt="Vibe" class="h-8">
        </a>

        <div class="flex flex-col items-center md:justify-between md:flex-row text-white gap-x-8 gap-y-2">
          <a routerLink="nosotros" (click)="toggleMenu()"
             routerLinkActive="border-b-2 z-40 border-b-primary opacity-100"
             #aboutLink="routerLinkActive"
             [ngClass]="{'opacity-50': !aboutLink.isActive}"
             class="text-lg font-medium focus:outline-none focus:shadow-outline pb-4">
            Nosotros
          </a>

          <a routerLink="servicios" (click)="toggleMenu()"
             routerLinkActive="border-b-2 z-40 border-b-primary opacity-100"
             #serviceLink="routerLinkActive"
             [ngClass]="{'opacity-50': !serviceLink.isActive}"
             class="text-lg font-medium focus:outline-none focus:shadow-outline pb-4">
            Servicios
          </a>
          <a routerLink="discografia" (click)="toggleMenu()"
             routerLinkActive="border-b-2 z-40 border-b-primary opacity-100"
             #discLink="routerLinkActive"
             [ngClass]="{'opacity-50': !discLink.isActive}"
             class="text-lg font-medium focus:outline-none focus:shadow-outline pb-4">
            Discografía
          </a>
          <a [href]="constantService.waLink" target="_blank" (click)="toggleMenu()"
             class="text-lg font-medium focus:outline-none focus:shadow-outline pb-4 opacity-50">
            Cotizar
          </a>
        </div>

        <div class="flex justify-center md:justify-between items-center gap-x-5">
          <a [href]="constantService.facebookLink" target="_blank" class="text-white pb-4 opacity-50 hover:opacity-100">
            <i class="fa-brands fa-facebook text-3xl"></i>
          </a>

          <a [href]="constantService.instagramLink" target="_blank" class="text-white pb-4 opacity-50 hover:opacity-100">
            <i class="fa-brands fa-instagram text-4xl"></i>
          </a>
        </div>
      </nav>

      <div class="absolute w-full bottom-3.5 left-0">
        <div style="height: 0.02rem" class="bg-white"></div>
      </div>
    </div>
  </div>
</div>
<!-- End: Header -->
