<div class="bg-black h-full">
  <div class="relative max-w-7xl mx-auto px-16 lg:px-8 pt-40 pb-36">

    <div class="flex flex-col items-center gap-y-4 pb-14">
      <img src="assets/images/logos/logo-white.png" alt="Vibe" class="object-contain h-8 md:h-10 block md:hidden">
      <h2 class="text-white text-3xl md:text-5xl font-medium uppercase">SERVICIOS</h2>
    </div>

    <div class="flex flex-wrap items-center gap-y-0 md:gap-y-10">
      <div class="flex flex-col justify-center items-center w-full md:w-1/2 px-4 py-6">
        <img src="assets/images/services/servis-01.png" alt="Servicio 01"
             (click)="openBrochure('assets/brochure/estudio.pdf')"
             class="object-contain w-full md:w-3/4 border-3 border-primary rounded-2xl md:border-0">
        <div class="text-white text-center text-xl md:text-3xl font-medium pt-2 pb-6 md:pt-0 md:pb-14">Estudio VIBE
        </div>
        <div class="hidden md:block">
          <button type="button" (click)="openBrochure('assets/brochure/estudio.pdf')"
                  class="flex justify-center items-center gap-x-2 px-4 py-2 btn-primary font-medium text-sm md:text-base">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-4 w-4 md:h-6 md:w-6"
                 viewBox="0 0 16 16">
              <path
                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path
                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
            <span>Descargar brochure</span>
          </button>
        </div>
      </div>

      <div class="flex flex-col justify-center items-center w-full md:w-1/2 px-4 py-6">
        <img src="assets/images/services/servis-02.png" alt="Servicio 02"
             (click)="openBrochure('assets/brochure/vocal.pdf')"
             class="object-contain w-full md:w-3/4 border-3 border-primary rounded-2xl md:border-0">
        <div class="text-white text-center text-xl md:text-3xl font-medium pt-2 pb-6 md:pt-0 md:pb-14">Vocal</div>
        <div class="hidden md:block">
          <button type="button" (click)="openBrochure('assets/brochure/vocal.pdf')"
                  class="flex justify-center items-center gap-x-2 px-4 py-2 btn-primary text-sm md:text-base">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-4 w-4 md:h-6 md:w-6"
                 viewBox="0 0 16 16">
              <path
                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path
                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
            <span>Descargar brochure</span>
          </button>
        </div>
      </div>

      <div class="flex flex-col justify-center items-center w-full md:w-1/2 px-4 py-6">
        <img src="assets/images/services/servis-03.png" alt="Servicio 03"
             (click)="openBrochure('assets/brochure/product-music.pdf')"
             class="object-contain w-full md:w-3/4 border-3 border-primary rounded-2xl md:border-0">
        <div class="text-white text-center text-xl md:text-3xl font-medium pt-2 pb-6 md:pt-0 md:pb-14">Producción
          Musical
        </div>
        <div class="hidden md:block">
          <button type="button" (click)="openBrochure('assets/brochure/product-music.pdf')"
                  class="flex justify-center items-center gap-x-2 px-4 py-2 btn-primary font-medium text-sm md:text-base">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-4 w-4 md:h-6 md:w-6"
                 viewBox="0 0 16 16">
              <path
                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path
                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
            <span>Descargar brochure</span>
          </button>
        </div>
      </div>

      <div class="flex flex-col justify-center items-center w-full md:w-1/2 px-4 py-6">
        <img src="assets/images/services/servis-04.png" alt="Servicio 04"
             (click)="openBrochure('assets/brochure/composicion.pdf')"
             class="object-contain w-full md:w-3/4 border-3 border-primary rounded-2xl md:border-0">
        <div class="text-white text-center text-xl md:text-3xl font-medium pt-2 pb-6 md:pt-0 md:pb-14">Composición</div>
        <div class="hidden md:block">
          <button type="button" (click)="openBrochure('assets/brochure/composicion.pdf')"
                  class="flex justify-center items-center gap-x-2 px-4 py-2 btn-primary font-medium text-sm md:text-base">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-4 w-4 md:h-6 md:w-6"
                 viewBox="0 0 16 16">
              <path
                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path
                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
            <span>Descargar brochure</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <vibe-footer></vibe-footer>
</div>


<div *ngIf="showBrochure" class="w-full h-full fixed block top-0 left-0 opacity-100 z-40"
     style="background-color: rgba(0, 0, 0, 0.9)">
  <div class="absolute right-5 md:right-10 top-4 text-white z-50">
    <div class="flex items-end cursor-pointer" (click)="toggleBrochure()">
      <svg class="ml-auto fill-current w-8 h-8 md:w-6 md:h-6" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 18 18">
        <path
          d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
      </svg>
    </div>
  </div>

  <div class="my-0 mx-auto block relative">
    <div class="grid min-h-screen place-items-center">
      <pdf-viewer [src]="pdfSrc"
                  [render-text]="true"
                  [original-size]="false"
                  style="width: 400px; height: 1000px"
      ></pdf-viewer>
    </div>
  </div>

</div>
