<div class="bg-footer py-8">
  <div class="relative flex justify-center items-center gap-x-14 lg:gap-x-32 pb-8 px-6">
    <a [href]="constantService.facebookLink" target="_blank" class="text-white">
      <i class="fa-brands fa-facebook text-3xl"></i>
    </a>

    <a [href]="constantService.instagramLink" target="_blank" class="text-white">
      <i class="fa-brands fa-instagram text-4xl"></i>
    </a>

    <a [href]="constantService.youtubeLink" target="_blank" class="text-white">
      <i class="fa-brands fa-youtube text-4xl"></i>
    </a>
  </div>

  <div class="bg-white border w-full"></div>

  <div class="max-w-screen-xl py-2 px-4 mx-auto md:px-6 lg:px-8">
    <div class="flex justify-between items-center pt-8 text-white text-lg text-center">
      <div>
        SELLO DISCOGRÁFICO
      </div>
      <div>
        <span class="font-medium">vibe 2022 </span>
        <span class="font-light">- Todos los derechos reservados.</span>
      </div>
    </div>
  </div>

</div>
