<div class="bg-discography__page">
  <div class="relative max-w-7xl mx-auto px-16 lg:px-8 pt-28 pb-36">
    <div class="flex flex-col items-center">
      <div class="flex flex-col items-center gap-y-4 pb-14">
        <img src="assets/images/logos/logo-white.png" alt="Vibe" class="object-contain h-10">
        <h4 class="text-white text-3xl font-medium uppercase">ÁLBUNES</h4>
      </div>

      <div class="flex flex-wrap justify-center items-center pb-24">
        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-4 md:py-6 gap-y-4">
          <img src="assets/images/albums/album_01.png" alt="Album 01" class="object-contain w-full">
        </div>

        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-4 md:py-6 gap-y-4">
          <img src="assets/images/albums/album_02.png" alt="Album 02" class="object-contain w-full">
        </div>
      </div>
    </div>


    <div class="flex flex-col items-center">
      <div class="flex flex-col items-center gap-y-4 pb-14">
        <img src="assets/images/logos/logo-white.png" alt="Vibe" class="object-contain h-10">
        <h4 class="text-white text-3xl font-medium uppercase">SENCILLOS</h4>
      </div>

      <div class="flex flex-wrap justify-center items-center pb-24">
        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-8 md:py-6 gap-y-4">
          <img src="assets/images/singles/una-vez-mas.png" alt="Single 01" class="object-contain w-full">
        </div>

        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-8 md:py-6 gap-y-4">
          <img src="assets/images/singles/has-aumentado.png" alt="Single 02" class="object-contain w-full">
        </div>

        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-8 md:py-6 gap-y-4">
          <img src="assets/images/singles/aviva-tu-iglesia.png" alt="Single 03" class="object-contain w-full">
        </div>

        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-8 md:py-6 gap-y-4">
          <img src="assets/images/singles/hay-una-unción.png" alt="Single 04" class="object-contain w-full">
        </div>
      </div>
    </div>

    <div class="px-24 pb-32">
      <hr class="text-white">
    </div>

    <div class="flex flex-col items-center">
      <div class="flex flex-col items-center gap-y-4 pb-12">
        <img src="assets/images/logos/logo-white.png" alt="Vibe" class="object-contain h-10">
        <h4 class="text-white text-3xl font-medium uppercase">ARTISTAS</h4>
      </div>

      <div class="flex flex-wrap justify-center items-center pb-24 px-0 md:px-20">
        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 px-1.5 py-3 md:px-10 md:py-6 gap-y-4">
          <img src="assets/images/artists/artist_01.png" alt="Artista 01" class="object-contain w-4/5">
          <div class="text-white text-base md:text-xl font-semibold text-center">Fabrizio Andy</div>
        </div>

        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 px-1.5 py-3 md:px-10 md:py-6 gap-y-4">
          <img src="assets/images/artists/artist_02.png" alt="Artista 02" class="object-contain w-4/5">
          <div class="text-white text-base md:text-xl font-semibold text-center">Diego Armando</div>
        </div>

        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 px-1.5 py-3 md:px-10 md:py-6 gap-y-4">
          <img src="assets/images/artists/artist_03.png" alt="Artista 03" class="object-contain w-4/5">
          <div class="text-white text-base md:text-xl font-semibold text-center">Noemí Cotrina</div>
        </div>

        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 px-1.5 py-3 md:px-10 md:py-6 gap-y-4">
          <img src="assets/images/artists/artist_04.png" alt="Artista 04" class="object-contain w-4/5">
          <div class="text-white text-base md:text-xl font-semibold text-center">Isaac Cueto</div>
        </div>

        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 px-1.5 py-3 md:px-10 md:py-6 gap-y-4">
          <img src="assets/images/artists/artist_05.png" alt="Artista 05" class="object-contain w-4/5">
          <div class="text-white text-base md:text-xl font-semibold text-center">Stephie García</div>
        </div>

        <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/3 px-1.5 py-3 md:px-10 md:py-6 gap-y-4">
          <img src="assets/images/artists/artist_03.png" alt="Artista 06" class="object-contain w-4/5">
          <div class="text-white text-base md:text-xl font-semibold text-center">Karina Salvatierra</div>
        </div>
      </div>
    </div>
  </div>

  <vibe-footer></vibe-footer>
</div>
