/* You can add global styles to this file, and also import other style files */
:root {
  --vibe-primary: rgb(18, 68, 243);
  --vibe-secondary: rgb(91, 175, 227);
  --vibe-neutral: rgb(89, 89, 89);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

@import "~swiper/css";
@import "~swiper/css/navigation";

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  @apply text-white border-gray-500;
}

.bg-home-a__page {
  background-image: linear-gradient(180deg, rgba(26, 26, 26, 0) 50%, #000000 94.23%), url(assets/images/covers/home_a-cover.jpg);
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bg-home-b__page {
  background-image: linear-gradient(360deg, rgba(26, 26, 26, 0) 20%, #000000 93.23%), url(assets/images/covers/home_b-cover.jpg);
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bg-about-us__page {
  background-image: linear-gradient(180deg, rgba(26, 26, 26, 0) 70%, #000000 99.23%), url(assets/images/covers/about_us-cover.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bg-discography__page {
  background-image: linear-gradient(180deg, rgba(26, 26, 26, 0) 70%, #000000 99.23%), url(assets/images/covers/discography-cover.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bg-header {
  background-image: linear-gradient(0deg, rgba(26, 26, 26, 0) 0, #000000 36%);
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-footer {
  background-image: linear-gradient(180deg, rgba(26, 26, 26, 0) 0, #000000 72%);
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.bg-home-a__page:before,
.bg-home-b__page:before,
.bg-about-us__page:before,
.bg-discography__page:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.badge-primary__letter-about {
  @apply bg-primary text-white px-1.5 rounded-full;
}

.image_container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.image-content__text-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-primary {
  background-color: rgba(18, 68, 243, 0.4);
  @apply rounded-full border-2 border-primary text-white font-medium hover:bg-primary transition-colors duration-150;
}
