<div class="bg-about-us__page">
  <div class="relative max-w-2xl mx-auto px-16 lg:px-8 pt-44 pb-36">
    <div class="text-white font-medium italic text-3xl pb-20">
      <div class="flex justify-start">
        <div>una <span class="badge-primary__letter-about">familia</span></div>
      </div>
      <div class="flex justify-center">
        <div>un solo <span class="badge-primary__letter-about">sonido</span></div>
      </div>
      <div class="flex justify-end">
        <div>un mismo <span class="badge-primary__letter-about">corazón</span></div>
      </div>
    </div>

    <p class="text-white text-justify pb-6">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aspernatur in? Ab deserunt inventore magnam nam
      nostrum, optio placeat reiciendis reprehenderit rerum sed. Earum eligendi fugit incidunt nam quo tempora.
    </p>

    <span class="text-white font-semibold text-lg">Efesios 4:1-16</span>
  </div>

  <div class="px-16">
    <div class="bg-white border w-full"></div>
  </div>

  <div class="relative max-w-7xl mx-auto px-16 lg:px-8 pt-20 pb-36">
    <div class="flex flex-col items-center">
      <div class="flex flex-col items-center gap-y-4 pb-28">
        <img src="assets/images/logos/logo-white.png" alt="Vibe" class="object-contain h-10">
        <h4 class="text-white text-3xl font-medium">ADN</h4>
      </div>

      <div class="flex flex-wrap justify-center items-center text-white pb-28 gap-y-8">
        <div class="relative flex justify-center items-center w-1/2 lg:w-1/4 px-8 md:px-14">
          <div class="text-7xl sm:text-9xl font-bold opacity-60">01</div>
          <div class="absolute md:top-12 md:right-14">
            <span class="text-xl md:text-3xl font-bold">Humildad</span>
          </div>
        </div>

        <div class="relative flex justify-center items-center w-1/2 lg:w-1/4 px-8 md:px-14">
          <div class="text-7xl sm:text-9xl font-bold opacity-60">02</div>
          <div class="absolute md:top-12 md:right-12">
            <span class="text-xl md:text-3xl font-bold">Amabilidad</span>
          </div>
        </div>

        <div class="relative flex justify-center items-center w-1/2 lg:w-1/4 px-8 md:px-14">
          <div class="text-7xl sm:text-9xl font-bold opacity-60">03</div>
          <div class="absolute md:top-12 md:right-16">
            <span class="text-xl md:text-3xl font-bold">Paciencia</span>
          </div>
        </div>

        <div class="relative flex justify-center items-center w-1/2 lg:w-1/4 px-8 md:px-14">
          <div class="text-7xl sm:text-9xl font-bold opacity-60">04</div>
          <div class="absolute md:top-12 md:right-14">
            <span class="text-xl md:text-3xl font-bold">Tolerancia</span>
          </div>
        </div>
      </div>

      <a href="#" class="px-4 py-2 rounded-full bg-primary text-white font-medium text-lg">
        Ver más
      </a>
    </div>
  </div>
</div>

<div class="bg-black">
  <div class="relative max-w-7xl mx-auto px-16 lg:px-8 pt-14 pb-24">
    <div class="flex flex-col items-center gap-y-4 pb-20">
      <img src="assets/images/logos/logo-white.png" alt="Vibe" class="object-contain h-10">
      <h4 class="text-white text-3xl font-medium">Staff</h4>
    </div>

    <div class="flex flex-wrap justify-center items-center pb-28">
      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-4 md:py-6 gap-y-4">
        <img src="assets/images/staffs/staff-01.png" alt="Staff 01" class="object-contain w-full">
        <div class="flex flex-col justify-center items-center gap-y-2">
          <div class="text-white text-base md:text-xl font-bold text-center">Diego Armando</div>
          <div class="text-white">C.E.O</div>
        </div>
      </div>

      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-4 md:py-6 gap-y-4">
        <img src="assets/images/staffs/staff-02.png" alt="Staff 02" class="object-contain w-full">
        <div class="flex flex-col justify-center items-center gap-y-2">
          <div class="text-white text-base md:text-xl font-bold text-center">Elber Acosta</div>
          <div class="text-white">Gerencia</div>
        </div>
      </div>

      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-4 md:py-6 gap-y-4">
        <img src="assets/images/staffs/staff-03.png" alt="Staff 03" class="object-contain w-full">
        <div class="flex flex-col justify-center items-center gap-y-2">
          <div class="text-white text-base md:text-xl font-bold text-center">Sebastian Vidal</div>
          <div class="text-white">Video</div>
        </div>
      </div>

      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-4 md:py-6 gap-y-4">
        <img src="assets/images/staffs/staff-04.png" alt="Staff 04" class="object-contain w-full">
        <div class="flex flex-col justify-center items-center gap-y-2">
          <div class="text-white text-base md:text-xl font-bold text-center">Karla Ubilluz</div>
          <div class="text-white">Marketing</div>
        </div>
      </div>

      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-4 md:py-6 gap-y-4">
        <img src="assets/images/staffs/staff-05.png" alt="Staff 05" class="object-contain w-full">
        <div class="flex flex-col justify-center items-center gap-y-2">
          <div class="text-white text-base md:text-xl font-bold text-center">Dan Valverde</div>
          <div class="text-white">Productor Musical</div>
        </div>
      </div>

      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-4 md:py-6 gap-y-4">
        <img src="assets/images/staffs/staff-06.png" alt="Staff 06" class="object-contain w-full">
        <div class="flex flex-col justify-center items-center gap-y-2">
          <div class="text-white text-base md:text-xl font-bold text-center">Karina Salva</div>
          <div class="text-white">Vocal Coach</div>
        </div>
      </div>

      <div class="flex flex-col items-center w-full sm:w-1/2 md:w-1/4 px-1.5 py-3 md:px-4 md:py-6 gap-y-4">
        <img src="assets/images/staffs/staff-07.png" alt="Staff 07" class="object-contain w-full">
        <div class="flex flex-col justify-center items-center gap-y-2">
          <div class="text-white text-base md:text-xl font-bold text-center">Gohan Verastegui</div>
          <div class="text-white">Ing. Mezcla</div>
        </div>
      </div>
    </div>

    <div class="max-w-4xl mx-auto px-4">
      <div class="flex flex-col items-center">
        <p class="text-white font-medium text-xl text-center pb-10">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab consectetur dolorem fuga ipsa maxime minima quos
          ratione recusandae. Asperiores?
        </p>

        <a href="#" class="px-4 py-2 rounded-full bg-primary text-white font-medium text-lg">
          ¡Empezar!
        </a>
      </div>
    </div>
  </div>

  <vibe-footer></vibe-footer>
</div>
